project_name = tmcp

width  = 1300
height = 1300
number_of_threads = 8

log = true

message_transmission_model = TmcpMessageTransmissionModel

nodes[0] = 1
distribuition_model[0] = Random
node_radio[0] = 10
communication_radio[0] = 35
node_implementation[0] = Sink
connectivity_model[0] = TmcpSensorConectivity

nodes[1] = 10000
distribuition_model[1] = Random
node_radio[1] = 1
communication_radio[1] = 35
node_implementation[1] = Sensor
connectivity_model[1] = TmcpSensorConectivity

rounds = 100
